{% extends 'main/layout.html' %}


{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Войти" %}{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="container-fluid">


    <div class="card mb-3">
      <div class="card-header bg-primary">
        <h3><b>
            <font color="white">{% trans "Sign In" %}</font>
          </b></h3>
      </div>
      <div class="card-body">


        {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Пожалуйста, войдите в систему с одной
          одной из ваших существующих учетных записей или, <a href="{{ signup_url }}">зарегистрироваться</a>
          для {{ site_name }} учетную запись и войдите в систему ниже:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">

          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>

          <div class="login-or">{% trans 'or' %}</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
        <p>{% blocktrans %}Если вы еще не создали учетную запись, то, пожалуйста
          <a href="{{ signup_url }}">зарегистрироваться</a>{% endblocktrans %}
        </p>
        {% endif %}

        <form class="login" method="POST" action="{% url 'account_login' %}">

          {% csrf_token %}
          <div class="well">

            {{ form.as_p }}
          </div>


          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>

        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}