{% extends 'main/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Сравнение товаров
{% endblock %}

{% block content %}
<h1>Сравнение товаров</h1>

{% if products %}
  <table>
    <thead>
      <tr>
        <th>{% trans 'Название' %}</th>
        <th>{% trans 'Цена' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>{% trans 'Нет выбранных товаров для сравнения' %}</p>
{% endif %}

{% endblock %}
w