<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap start -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- bootstrap end -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <script src="{% static 'main/js/script_slider.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'main/img/rozetka.png' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <div class="img-header">
            <img src="https://content2.rozetka.com.ua/banner_header/image/original/330998888.jpg" alt="logo-up">
        </div>
        <div>
            <div class="container">
                <div class="header_logo">
                    <a href="{% url 'main' %}">
                        <img src="https://content2.rozetka.com.ua/widget_logotype/full/original/229862237.svg"
                            alt="logo-rozetka">
                    </a>
                </div>
                <div class="header_search">
                    <form action="{% url 'search' %}" method="GET">
                        <input type="search" name="search" placeholder="{% trans 'Я ищу...' %}">
                        <button class="btn btn-success" type="submit">{% trans 'Найти' %}</button>
                    </form>
                </div>
                <div class="header_nav">
                    <ul>
                        <form id="language-form" action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <div class="styled-select">
                              <select id="language-select" name="language">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                  <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                  </option>
                                {% endfor %}
                              </select>
                            </div>
                          </form>
                        {% if user.is_authenticated %}
                        <li class="nav-r"><a href="{% url 'profile' %}"><i class="bi bi-card-list" style="margin-left: 7px;"></i></a></li>
                        {% else %}
                        <li class="nav-r"><a href="{% url 'account_login' %}"><i class="bi bi-person"></i></a></li>
                        {% endif %}
                        <li class="nav-r"><a href="{% url 'add_to_comparison' %}"><i class="bi bi-plus-slash-minus"></i></a></li>
                        <li class="nav-r"><a href="{% url 'cart:cart_detail' %}"><i class="bi bi-cart3"></i>
                            <span class="cart-item-count">{{ cart_item_count }}</span></a></li>                           
                    </ul>
                </div>
            </div>
        </div>
    </header>


    {% block content %}
    {% endblock %}

    <script>
        var formElement = document.getElementById('language-form');
        var selectElement = document.getElementById('language-select');
      
        selectElement.addEventListener('change', function() {
          formElement.submit(); 
        });
      </script>
</body>

</html>