{% extends 'main/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}

<div class="detail-product">
    <div class="product-info">
        <div>
            <ul>
                <li><a href="{% url 'main' %}"><img src="{% static 'main/img/70083.png' %}" alt="photo-home"> </a></li>
                <li><a href="{% url 'category' product.category.url %}">{{ product.category.name }}</a></li>
            </ul>
        </div>
        <h4>{{ product.name }}</h4>


        <form action="{% url 'add_rating' %}" method="post" name="rating">
            <b>{% trans 'Рейтинг' %}: </b>
            {% csrf_token %}
            <input type="hidden" value="{{ product.id }}" name="product">
            <span class="rating">
                {% for k, v in star_form.fields.star.choices %}
                {% if request.POST.star %}
                <p>Вы установили рейтинг: {{ request.POST.star }} из {{ star_form.fields.star.choices|length }}
                    возможных.</p>
                {% endif %}
                <input id="rating{{ v }}" type="radio" name="star" value="{{ k }}">
                <label for="rating{{ v }}">{{ k }}</label>
                {% endfor %}
            </span>
        </form>

        

        <p class="code">{% trans 'Код' %}: {{ product.code }}</p>
    </div>
    <div class="product-content">
        <div class="product-image">
            <img src="{{ product.image.url }}" alt="product-photo">
        </div>
        <div class="product-description">
            <hr>
            <p><b>{% trans 'Продавец' %}: </b><img src="{{ product.salesman.image.url }}" alt="photo-salesman"></p>
            <hr>

            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="quantity" value="1">
                <input type="hidden" name="update" value="false">
                <button id="add-to-cart-button" class="btn btn-warning" value="submit">
                    <i class="bi bi-cart3"></i> В корзину
                </button><br><br>
            </form>
            <button class="btn btn-primary add-to-comparison" data-product-id="{{ product.id }}">
                Добавить в сравнение
            </button><br><br>


            <h5>{% trans 'Есть в наличии' %}</h5>
            <a href="#"><img src="{% static 'main/img/503011.png' %}" alt="photo-comparison"></a>
            <a href="#"><img src="{% static 'main/img/yellow-heart.png' %}" alt="photo-heard"></a>
        </div>
    </div>
    <div class="features">
        <h3>{% trans 'Характеристики' %}:</h3>

        {% if product.series %}
        <p>{% trans 'Серия' %}: {{ product.series }}</p>
        {% endif %}

        {% if product.display_size %}
        <p>{% trans 'Размер дисплея' %}: {{ product.display_size }}</p>
        {% endif %}

        {% if product.main_camera %}
        <p>{% trans 'Основная камера' %}: {{ product.main_camera }}</p>
        {% endif %}

        {% if product.fridge_capacity %}
        <p>{% trans 'Объем холодильной камеры, л' %}: {{ product.fridge_capacity }}</p>
        {% endif %}

        {% if product.weight %}
        <p>{% trans 'Вес' %}: {{ product.weight }} кг</p>
        {% endif %}

        {% if product.color %}
        <p>{% trans 'Цвет' %}: {{ product.color }}</p>
        {% endif %}

        {% if product.maximum_laundry_load %}
        <p>{% trans 'Загрузка' %}: {{ product.maximum_laundry_load }}</p>
        {% endif %}

        {% if product.spin_speed %}
        <p>{% trans 'Скорость отжима' %}: {{ product.spin_speed }}</p>
        {% endif %}

        {% if product.battery_capacity %}
        <p>{% trans 'Ёмкость батареи' %}: {{ product.battery_capacity }}</p>
        {% endif %}

        {% if product.CPU %}
        <p>{% trans 'Процессор' %}: {{ product.CPU }}</p>
        {% endif %}

        {% if product.ram %}
        <p>{% trans 'Оперативная память' %}: {{ product.ram }}</p>
        {% endif %}

        {% if product.operating_system %}
        <p>{% trans 'Операционная система' %}: {{ product.operating_system }}</p>
        {% endif %}

        {% if product.screen_refresh_rate %}
        <p>{% trans 'Частота обновления экрана' %}: {{ product.screen_refresh_rate }}</p>
        {% endif %}

        {% if product.ram_type %}
        <p>{% trans 'Тип оперативной памяти' %}: {{ product.ram_type }}</p>
        {% endif %}

        {% if product.ssd_capacity %}
        <p>{% trans 'Объём SSD' %}: {{ product.ssd_capacity }}</p>
        {% endif %}
    </div>
    <hr>
    <div class="add-review">
        <form action="{% url 'review' product.id %}" method="post" class="form">
            <h3>{% trans 'Оставить отзыв о товаре' %}</h3>
            {% csrf_token %}
            <div class="text">
                <label for="username"></label>
                <input type="text" name="name" placeholder="Имя *">
            </div><br>

            <div class="email">
                <label for="useremail"></label>
                <input type="email" name="email" placeholder="Email *">
            </div><br>

            <div class="text-user">
                <label for="review"></label>
                <textarea name="text" cols="23" rows="7" placeholder="Отзыв о товаре *"></textarea>
            </div><br>

            <div class="button">
                <button type="submit" class="btn btn-success">{% trans 'Отправить' %}</button>
            </div>
        </form>
        <div class="comments-user">
            <h3>{% trans 'Отзыв о товаре' %}:</h3>
            {% for review in product.review_set.all %}
            <p><b>{% trans 'Имя' %} :</b> {{ review.name }}</p>
            <p><b>{% trans 'Коментарий' %} :</b> {{ review.text }}</p>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    const rating = document.querySelector('form[name=rating]');

    rating.addEventListener("change", function (e) {
        // Получаем данные из формы
        let data = new FormData(this);
        fetch(`${this.action}`, {
            method: 'POST',
            body: data
        })
            .then(response => {
                if (response.status === 201) {
                    // Сохраняем значение рейтинга в cookie
                    const selectedRating = document.querySelector('input[name=star]:checked').value;
                    document.cookie = `rating=${selectedRating}; expires=Fri, 31 Dec 9999 23:59:59 GMT`;
                    alert("Рейтинг установлен");
                } else {
                    alert("Ошибка");
                }
            })
            .catch(error => alert("Ошибка"));
    });
    document.addEventListener("DOMContentLoaded", function () {
        // Восстанавливаем значение рейтинга из cookie
        const cookieValue = document.cookie
            .split('; ')
            .find(row => row.startsWith('rating='))
            ?.split('=')[1];
        if (cookieValue) {
            const ratingInputs = document.querySelectorAll('input[name=star]');
            ratingInputs.forEach(input => {
                if (input.value === cookieValue) {
                    input.checked = true;
                }
            });
        }
    });


    document.addEventListener("DOMContentLoaded", function () {
        const addToComparisonButtons = document.querySelectorAll('.add-to-comparison');

        addToComparisonButtons.forEach(button => {
            button.addEventListener('click', function () {
                const productId = this.getAttribute('data-product-id');
                addToComparison(productId);
            });
        });

        function addToComparison(productId) {
            fetch(`/comparison/add/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ product: productId })
            })
                .then(response => {
                    if (response.ok) {
                        alert('Товар успешно добавлен в сравнение');
                    } else {
                        alert('Ошибка при добавлении товара в сравнение');
                    }
                })
                .catch(error => {
                    alert('Ошибка при добавлении товара в сравнение');
                });
        }
    });
</script>


{% endblock %}