{% extends 'main/layout.html' %}


{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}

<div class="detail-product">
    <div class="product-info">
        <div>
            <ul>
                <li><a href="{% url 'main' %}">Главная страница ></a></li>
                <li><a href="">Выбранная категория ></a></li>
                <li><a href="">Название стиральной страницы</a></li>
            </ul>
        </div>
        <h4>{{ product.name }}</h4>
        Тут будет рейтинг
        <p class="code">Код: {{ product.code }}</p>
    </div>
    <div class="product-content">
        <div class="product-image">
            <img src="{{ product.image.url }}" alt="product-photo">
        </div>
        <div class="product-description">
            <hr>
            <p><b>Продавец: </b><img src="{{ product.salesman.image.url }}" alt=""></p>
            <hr>
            <div class="price-buy">
                <p>{{ product.price }} ₴ <button class="btn btn-success">Купить</button></p>
            </div>
            <h5>Есть в наличии</h5>
        </div>
    </div>
</div>




{% endblock %}