* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* header start */
.img-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #abe2fe;
}

.img-header img {
    width: 45%;
}

.header {
    background-color: #fff;
    height: 80px;
    box-shadow: 0 0 10px rgba(99, 235, 117, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    background-color: #221f1f;
}

.header_logo img {
    max-height: 30px;
    margin-right: 10px;
}

.header_search input {
    border: none;
    padding: 10px 20px;
    font-size: 11px;
    background-color: #ffffff;
    width: 400px;
    margin-left: 8px;
    text-size-adjust: 10px;
}

.header_search button {
    color: #fff;
    border: none;
    margin-top: 3px;
    font-size: 16px;
}

.header_nav {
    margin-left: 15px;
}

.header_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header_nav li {
    margin-right: 5px;
}

ul li.nav-r {
    margin-left: 20px;
    margin-top: 10px;
}

.li-2 {
    margin-right: 50px;
}

.header_nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.bi {
    font-size: 16px;
    color: #fff;
}

.li-2 img {
    width: 22px;
}

.styled-select {
    position: relative;
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 4px;
    overflow: hidden;
}

.styled-select select {
    width: 100%;
    padding: 10px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

#language-select {
    padding: 5px;
    font-size: 13px;
}

.styled-select {
    margin-top: 8px;
}

/* header end */

/* ----------------------------------- */

/* left conteiner start */

.main-wrapper {
    display: flex;
}

.left-conteiner {
    width: 25%;
    height: 100vh;
    margin-bottom: 50px;
    border-right: 1px solid rgb(212, 210, 210);
}

.left-conteiner {
    font-size: 16px;
}

.left-conteiner ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    margin-left: 40px;
    font-size: 13px;
}

.left-conteiner a {
    text-decoration: none;
    display: inline-block;
    color: #467cad;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.left-conteiner a:hover {
    color: red;
    cursor: pointer;
}

.left-conteiner img {
    width: 20px;
    margin-right: 10px;
}

/* left conteiner end */

/* ----------------------------------- */

/* right conteiner start */

.main-content {
    width: 75%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}


/* Slider image start */

.main-content {
    width: 80%;
    padding: 30px;
    background-color: rgb(255, 255, 255);
}

.image-slider {
    position: relative;
}

.slider__img {
    display: none;
    max-width: 100%;
}

.slider__img.active {
    display: block;
}

.slider-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #000;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
}

.slider-control.prev {
    left: 10px;
}

.slider-control.next {
    right: 10px;
}

.slider-control.prev:hover,
.slider-control.next:hover {
    color: rgb(0, 255, 42);
}


/* Slider image end */

/* ------------------------------------ */

/* Output of all products start */


/* brand corection start */

.brands-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.brands-wrapper {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    margin-bottom: -17px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 20px;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

.scroll-left {
    left: 10px;
}

.scroll-right {
    right: 10px;
}

/* brand corection end */


.conclusion-products {
    max-width: 100%;
}

.grid-products {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 50px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product a {
    text-decoration: none;
}

.conclusion-products img {
    width: 90px;
}

.grid-products p:hover {
    color: rgb(255, 5, 5);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .grid-products {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .grid-products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .grid-products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .grid-products {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Output of all products end */


/* pagination start */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.step-links {
    display: flex;
    align-items: center;
}

.step-links a {
    margin-right: 10px;
    color: #467cad;
    text-decoration: none;
}

.step-links a:hover {
    color: red;
}

.current {
    margin: 0 10px;
    font-weight: bold;
}

/* pagination end */


/* right conteiner end */

/* ---------------------------------------- */

/* detail product start */

.detail-product {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.product-info {
    margin-bottom: 20px;
}

.product-content {
    display: flex;
    margin-top: 20px;
}

.product-image {
    margin-left: 30px;
}

.product-description {
    flex: 1;
    margin-left: 40px;
}

.product-description p img {
    width: 100px;
}

.product-description h5 {
    font-size: 12px;
    color: rgb(14, 139, 14);
}

.detail-product ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-info ul li img {
    width: 16px;
}

.detail-product li {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
}

.detail-product li:last-child {
    margin-right: 0;
}

.detail-product a {
    text-decoration: none;
    color: #467cad;
}

.detail-product h4 {
    font-size: 25px;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-weight: bold;
    margin-top: 0;
}

.code {
    text-align: right;
    margin-right: 30px;
}

.detail-product img {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.price-buy {
    display: flex;
    align-items: center;
}

.price-buy p {
    display: flex;
    align-items: center;
}

.price-buy p button {
    margin-left: 30px;
}

.product-description a img {
    width: 30px;
}

.features {
    margin-left: 40px;
}

/* detail product end */
