* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* header start */
.img-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #abe2fe;
}

.img-header img {
    width: 45%;
}

.header {
    background-color: #fff;
    height: 80px;
    box-shadow: 0 0 10px rgba(99, 235, 117, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    background-color: #221f1f;
}

.header_logo img {
    max-height: 30px;
    margin-right: 10px;
}

.header_search input {
    border: none;
    padding: 10px 20px;
    font-size: 11px;
    background-color: #ffffff;
    width: 400px;
    margin-left: 8px;
}

.header_search button {
    color: #fff;
    border: none;
    margin-top: 3px;
    font-size: 16px;
}

.header_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 20px;
}

.header_nav li {
    margin-right: 20px;
}

.header_nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.bi {
    font-size: 16px;
    color: #fff;
}

.header_nav img {
    width: 22px;
}

/* header end */

/* left conteiner start */

.main-wrapper {
    display: flex;
}

.left-conteiner {
    width: 25%;
    height: 100vh;
    margin-bottom: 50px;
    border-right: 1px solid rgb(212, 210, 210);
}

.left-conteiner {
    font-size: 16px;
}

.left-conteiner ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    margin-left: 40px;
    font-size: 13px;
}

.left-conteiner a {
    text-decoration: none;
    display: inline-block;
    color: #467cad;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.left-conteiner a:hover {
    color: red;
    cursor: pointer;
}

.left-conteiner img {
    width: 20px;
    margin-right: 10px;
}

/* left conteiner end */


/* right conteiner start */

.main-content {
    width: 75%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}


/* Slider image start */

.main-content {
    width: 75%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.image-slider {
    position: relative;
}

.slider__img {
    display: none;
    max-width: 100%;
}

.slider__img.active {
    display: block;
}

.slider-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #000;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
}

.slider-control.prev {
    left: 10px;
}

.slider-control.next {
    right: 10px;
}

.slider-control.prev:hover,
.slider-control.next:hover {
    color: rgb(0, 255, 42);
}


/* Slider image end */


/* right conteiner end */